<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.kkmofang.unity" >

    <application>
        <activity
            android:theme="@style/DialogActivity"
            android:name="cn.kkmofang.app.WindowActivity" android:configChanges="orientation">
        </activity>
    </application>

</manifest>
